<!-- Header Section -->
<div class="container-fluid">
  <h1 class="px-4 pt-4 pb-2" style="border-bottom: 2px solid rgba(0, 60, 110, 0.15);">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 18 18">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
    Search Companies
  </h1>
</div>

<!-- Description Section -->
<div class="row mx-4 pb-3">
  G2G Network Web Portal provides extensive search capabilities and allows you to search for any company in our records. Ferrus
</div>

<!-- Search Form Section -->
<div class="input-container pb-3">
  <!-- First Row -->
  <div class="row mb-4 justify-content-center">
    <!-- Company Name Field -->
    <div class="col-3 d-flex justify-content-center">
      <mat-form-field class="search-form-field">
        <mat-label>Company Name</mat-label>
        <input matInput type="text" [(ngModel)]="companyNameInput" name="companyName">
        <ng-container *ngIf="companyNameInput">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="companyNameInput=''">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </mat-form-field>
    </div>

    <!-- Company Status Dropdown -->
    <div class="col-3 d-flex justify-content-center">
      <mat-form-field class="search-form-field">
        <mat-label>Company Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" name="status">
          <mat-option *ngFor="let status of MRAList.list" [value]="status.name">
            {{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Countries Dropdown -->
    <div class="col-3 d-flex justify-content-center">
      <mat-form-field class="search-form-field">
        <mat-label>Countries</mat-label>
        <mat-select [(ngModel)]="selectedCountries" name="countries" multiple>
          <mat-option *ngFor="let country of mainCountries.list" [value]="country.IsoCd">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row justify-content-center">
    <!-- TIN Field -->
    <div class="col-3 d-flex justify-content-center">
      <mat-form-field class="search-form-field">
        <mat-label>TIN</mat-label>
        <input matInput type="text" [(ngModel)]="tinInput" name="tin">
        <ng-container *ngIf="tinInput">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="tinInput=''">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </mat-form-field>
    </div>

    <!-- Date Field -->
    <div class="col-3 d-flex justify-content-center">
      <mat-form-field class="search-form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateInput" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <ng-container *ngIf="dateInput">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="dateInput=''">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </mat-form-field>
    </div>

    <!-- Search Button -->
    <div class="col-3 d-flex justify-content-center">
      <button mat-raised-button color="primary" class="search-button" (click)="startSearch()">Search</button>
    </div>
  </div>
</div>

<!-- Results Section -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card widget-card">
        <!-- Card Header -->
        <div class="card-header card-hdr-class">
          <div class="row">
            <div class="col">
              <h4 class="card-title mb-1 pt-1">Search Results</h4>
            </div>
            <div class="col-1 float-right">
              <button class="btn btn-sm px-2 pt-1 pb-1 mb-0 mt-0" [matMenuTriggerFor]="menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Export</button>
                <button mat-menu-item>Filter</button>
              </mat-menu>
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body px-0 pt-0 pb-0">
          <table class="table table-hover">
            <thead>
              <tr style="height: 50px;">
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Company Name</th>
                <th scope="col">G2G ID</th>
                <th scope="col">Current Company Status</th>
                <th scope="col">Approval Status Date Time</th>
                <th scope="col">Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let company of companiesList; index as i">
                <tr [ngClass]="expandedCompanyinTable === company.cmpnyNm + '-' + company.tin ? 'bg-light' :'bg-white'" (click)="selectCompaniesRow(company.cmpnyNm, company.tin)" style="cursor: pointer;">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    <p>{{getThisCountryNameFromISO(company.cntryCd)}}</p>
                  </td>
                  <td>
                    <p>{{company.cmpnyNm}}</p>
                  </td>
                  <td>{{company.g2gCmpnyId}}</td>
                  <td>{{company.apprvlStusCd}}</td>
                  <td>{{company.apprvlStusDttm | date}}</td>
                  <td>{{company.updtDttm | date}}</td>
                  <td>
                    <button type="button" class="btn btn-sm status-button" [ngClass]="company.apprvlStusCd ==='Approved' ? 'btn-success' : company.apprvlStusCd ==='Rejected' ? 'btn-danger' : company.apprvlStusCd ==='In Progress' ? 'btn-warning' : 'black'">
                      {{company.apprvlStusCd}}
                    </button>
                  </td>
                </tr>
                <tr *ngIf="expandedCompanyinTable === company.cmpnyNm + '-' + company.tin" class="expanded-row">
                  <td colspan="8">
                    <div class="row">
                      <div class="col-12 px-4 mx-2">
                        <h4>Company Information</h4>
                        <div class="company-details">
                          <div class="row">
                            <div class="col-md-6">
                              <p><strong>Company Object ID:</strong> {{company.cmpnyObjId}}</p>
                              <p><strong>Host Country ID Type:</strong> {{company.hostCtryCmpnyIdTyp}}</p>
                              <p><strong>Host Country ID:</strong> {{company.hostCtryCmpnyId}}</p>
                              <p><strong>AEO Account Number:</strong> {{company.aeoAccntNbr}}</p>
                              <p><strong>TIN:</strong> {{company.tin}}</p>
                              <p><strong>Company Name:</strong> {{company.cmpnyNm}}</p>
                              <p><strong>AEO Cert Date:</strong> {{company.aeoCertDt | date}}</p>
                              <p><strong>AEO Recert Date:</strong> {{company.aeoRecertDt | date}}</p>
                            </div>
                            <div class="col-md-6">
                              <p><strong>Company UUID:</strong> {{company.cmpnyUuid}}</p>
                              <p><strong>Approval Status:</strong> {{company.apprvlStusCd}}</p>
                              <p><strong>Approval DateTime:</strong> {{company.apprvlStusDttm | date}}</p>
                              <p><strong>Mid Value:</strong> {{company.midVal}}</p>
                              <p><strong>Is Latest:</strong> {{company.isLtstInd}}</p>
                              <p><strong>State:</strong> {{company.st}}</p>
                              <p><strong>Entity Type:</strong> {{company.entyTyp}}</p>
                              <p><strong>G2G Company ID:</strong> {{company.g2gCmpnyId}}</p>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-12">
                              <p><strong>Role List:</strong> {{company.rolList}}</p>
                              <p><strong>Country Code:</strong> {{company.cntryCd}}</p>
                              <p><strong>Create DateTime:</strong> {{company.crteDttm | date}}</p>
                              <p><strong>Update DateTime:</strong> {{company.updtDttm | date}}</p>
                              <p><strong>User Audit:</strong> {{company.usrAudit}}</p>
                              <p><strong>Comment:</strong> {{company.cmt}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <!-- Card Footer -->
        <div class="card-footer">
          <mat-paginator style="background-color: rgba(0,0,0,0);"
            [length]="pageTotalLength"
            [pageSize]="pageSize"
            [pageSizeOptions]="[15, 25, 50]"
            (page)="tablePageChange($event)"
            aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Company Details Section -->
<ng-container *ngIf="countryName !== '' && companyName !==''">
  <div class="container-fluid mt-3 pt-4 px-4">
    <div class="row card widget-card">
      <div class="card-header card-hdr-class">
        <div class="row">
          <div class="col">
            <h1>Company Details for: {{companyName}}</h1>
          </div>
          <div class="col-2">
            <button class="float-right text-white" mat-button (click)="closeCompanyView()">Close</button>
          </div>
        </div>
      </div>
      <div class="row pt-3 mx-1 px-3">
        <app-company-single-view [countryName]="countryName" [companyName]="companyName"></app-company-single-view>
      </div>
    </div>
  </div>
</ng-container>
